/* ==========================================================================
   Base
   ========================================================================== */

.content {
   margin-top: 20px;
   margin-bottom: 60px;
}



/* =============================================================================
   Header
   ========================================================================== */

.navbar-inner {
   background-color: #2D2D2D;
   background-image: none; 
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',    endColorstr='#222222', GradientType=0);}
}

.navbar .brand {
   padding: 10px 40px 10px 20px;
}

.navbar .nav > li > a {
   padding: 30px 15px;
   color: #FFFFFF;
   text-shadow: 0px 0px 0px;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
   color: #FFFFFF;
}

.navbar .btn-navbar {
   margin-top: 25px;
}

.navbar .btn-navbar .icon-bar {
   background-color: #2D2D2D;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}

@media (max-width:979px) {
   .navbar .nav > li > a:hover {
      color: inherit;
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content hr {
   margin-bottom: 30px;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

#learn-more {
   margin-top: 20px;
}

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   margin-top: 15px;
 }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   padding-top: 10px;
   background-color: #2D2D2D;
   color: #EEEEEE;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.content-info a {
   color: #EEEEEE;
}

.content-info a:hover {
   color: #EEEEEE;
}

@media (max-width:979px) {
   p {
      text-align: center;
   }
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 30px;
}
footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
